
<center>

<!-- <button ng-click='test()'>load 'em up</button>
<br>
<br>
 -->
<div class="ppl">
<ul>
	<li ui-sref='about({url: person.url})' ng-repeat='person in people' ng-click='goToPerson(person)'>{{person.name}}</a></li>
</ul>


<nav>
  <ul class="pagination">
    <li ng-click="prev(pg)">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page" ng-click="page(1)"><a>1</a></li>
    <li class="page" ng-click="page(2)"><a>2</a></li>
    <li class="page" ng-click="page(3)"><a>3</a></li>
    <li class="page" ng-click="page(4)"><a>4</a></li>
    <li class="page" ng-click="page(5)"><a>5</a></li>
    <li class="page" ng-click="page(6)"><a>6</a></li>
    <li class="page" ng-click="page(7)"><a>7</a></li>
    <li class="page" ng-click="page(8)"><a>8</a></li>
    <li class="page" ng-click="page(9)"><a>9</a></li>
    <li ng-click>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>
</center>
